
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --orange:#ff7800;
    --black: #130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
  font-family:"Inter", sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
 
}

html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
}


section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 2.5rem;
    color: black;
}

.heading span{
    background: rgb(65, 227, 86);
    color:#c8ea63;
    display: inline-block;
    padding: 5rem 3rem;
   
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);


}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:1rem solid var(--black);
    color:black;
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: rgb(255, 60, 0);
    color: black;

}




.header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #3dc83d;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:black;
}
.header .logo i{
    color:rgb(255, 98, 0);
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:black;
}

.header .navbar a:hover{
    color:blue;

}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background:#eee ;
    color:black;
    font-size: 2rem;
    margin-right:.3rem;
    text-align: center;

}

.header .icons div:hover{
    background: var(--blue);
    color: rgb(252, 251, 250);

}

#menu-btn{
    display: none;
}


.header .car{
    position: absolute;
    top:110%; right:-110%;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 10px blue;
    width: 30rem;
    background: #fff;

}

.header .car.active{
    right: 2rem;
    transition: 1s linear;
}



.header .car .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;


}

.header .car .box img{
    height: 10rem;
     
}

.header .car .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top:50%; right:2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
     
}

.header .car .box .fa-trash:hover{
    color: blue;

}

.header .car .box .content h3{
    color: black;
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .car .box .content span{
    color: var(--light-color);
    font-size: 1rem;
}

.header .car .box .quantity{
    padding-left: 1rem;

}

.header .car .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: black;
}

.header .car .btn{
    display: block;
    text-align: center;
    margin: 1rem;
}

.header .login{
    position: absolute;
    top: 110%; right: -110%;
    width: 30rem;
    box-shadow: 1px 1px 10px blue;
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login.active{
    right: 2rem;
    transition: 1s linear;

}

.header .login h3{
    font-size: 2rem;
    text-transform:  uppercase;
    color: black;
}

.header .login .box{
    width: 100%;
    margin:.7rem 0;
    background:#eee;
    border-radius: 5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: black;
    text-transform:  none;
}

.header .login p{
    font-size: 1rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login p a{
    color: blue;
    text-decoration: underline;
    
}


.home{
   display:flex;
   align-items: center;
   background: url(images/fotomuraiijoss.jpeg) no-repeat;
   background-size: cover;
   background-position: center;
   padding-top: 17rem;
   padding-bottom: 10rem;

}

.home .content{
    width:120rem;
    text-align: center;
}

.home .content h3{
    color:black;
    font-size: 3rem;
}

.home .content h3 span{
    color:blue;
    font-size: 3rem;
}

.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;

}




.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}


.features .box-container .box{
    padding: 3rem 2rem;
    background: #71d578;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: 1px 1px 10px blue;
}

.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;

}


.features .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box h3{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}




.products .product-slider{
    padding: 1rem;
}

.products .product-slider:first-child{
    margin-bottom: 2rem;

}

.products .product-slider .box{
    background: #6de65d;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: 1px 1px 10px blue;
    transition: .2s linear;

}

.products .product-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.products .product-slider .box img{
    height: 15rem;
}

.products .product-slider .box h3{
    font-size: 2.5rem;
    color: black;
}

.products .product-slider .box .price{
    font-size: 1.7rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.products .product-slider .box .stars i{
    font-size: 1.7rem;
    color: rgb(13, 13, 13);
    padding: .5rem 0;
}




.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box{
    padding: 3rem 2rem;
    border-radius: .5rem;
    background: #3bb743;
    box-shadow: 1px 1px 10px blue;
    outline-offset: -1rem;
    text-align: center;


}

.categories .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.categories .box-container .box img{
    margin:1rem 0;
    height: 15rem;
}

.categories .box-container .box h3{
   font-size: 2rem;
    color: black ;
    line-height: 1.8;
}
 
.categories .box-container .box p{
   font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}




.review .review-slider{
    padding: 1rem;
}

.review .review-slider .box{
    background: #97e453;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: 1px 1px 10px blue;
    transition: .2s linear;
}
 
.review .review-slider .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3{
    padding-bottom: .5rem ;
    color: black;
    font-size: 2.2rem;
}

.review .review-slider .box .stars i{
    color: rgb(21, 22, 20);
    font-size: 1.7rem;

}






.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}   


.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
     box-shadow: 1px 1px 10px blue;
     background: #59b63d;
     transition: .2s linear;
}


.blogs .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;

}

.blogs .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a{
    color: var(--light-color);
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover{
    color: black;
}


.blogs .box-container .box .content .icons a i{
    color: var(--light-color);
    padding-right: .5rem;
}


.blogs .box-container .box .content h3{
    line-height: 1.8;
    color: black;
    font-size:2.2rem;
    padding: .5rem 0;
}

.blogs .box-container .box .content p{
    line-height: 1.8;
    color: var(--light-color);
    font-size:1.5rem;
    padding: .5rem 0;
}







.footer{
    background: #49dc61;

}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
}  

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: black;
    padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color: blue;
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i{
    color: blue;
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: black;
    margin-left: .2rem;
    background: #65ed67;
    text-align: center;

}

.footer .box-container .box .share a:hover{
    background: blue;
    color: #3ac64a;
}

.footer .box-container .box .email{
    width: 100%;
    margin: 7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #44d444;
    font-size: 1.6;
    color: black;
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: black;
    border-top: var(--border);
}

.footer .credit span{
    color: blue;
}






@media (max-width:991px){

    html{
        font-size:55%;
    }

    .header{
        padding: 2rem;
    }

    section{
    padding: 2rem;
}
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }


    .header .navbar{
     position:absolute ;
     top: 110%; right:-110%;
     width: 30rem ;
      box-shadow: 1px 1px 10px blue;
     border-radius: .5rem;
     background: #74da45;
    }

    .header .navbar.active{
      right: 2rem;
      transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;

    }
}


@media (max-width:450px){

    html{
        font-size:50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }
}


.dark-mode {
  background-color: #0f2027;
  color: #6dba47;
}
 
.dark-mode header {
  background-color: #00334e;
}

.dark-mode button {
  background-color: red;
}

.dark-mode .film-card{
  background-color: #1c1c1c;
  color: #ffffff;
}

.dark-mode .footer{
  background-color: #00334e;
}

button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: blueviolet;
  transform: scale(1.05);
}