*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/fotomuraiijoss.jpeg);
    background-size:cover ;
    background-position: center;
    padding: 30px 30%;
}



nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 160px;
    cursor: pointer;
}

nav.btn{
    text-decoration: none;
    color: green;
    background:green;
    padding: 15px 50px;
    border-radius: 30px;
}

.content{
    margin-top: 10%;

}

.content h2{
    color: rgb(0, 0, 0);
    font-size: 34px;
}

.content h1{
    font-size: 100px;
    color: #222;
    margin-top: -25px;
}

.content p{
    max-width: 380px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(16, 250, 63);
}

.content h3{
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
}

.color-select div{
    background: #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.color-select{
    display: flex;
    margin-top: 30px;
}

.color-select #red{
    background: rgb(12, 243, 12);
}

.color-select #blue{
    background: rgb(12, 249, 20);
}

.color-select #black{
    background: black;
}